<?xml version="1.0" encoding="UTF-8"?>
<!--
    Spring Boot 전환 완료 - 이 파일은 더 이상 사용되지 않음
    모든 설정은 application.yml + Java Config (@Configuration) 으로 이관됨
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
</beans>
